# Python environments
venv/
.venv/

# Python cache files
__pycache__/
*.pyc

# Lock files
uv.lock

# IDE configuration files
.vscode/
.idea/

# Environment variable files
.env

# Log files and SQLite databases
*.log
*.sqlite
